h1{
    font-size: 2.4rem;
}
section{
    padding: 20px 5px;
    overflow: hidden;
}


#menu-icon{
    display: initial;
    color: white;
}
.navbar.active{
    top: 100%;
}
.logo{
    align-content: center;
    font-size: 1rem;
}
header .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: rgb(0, 10, 12);
    box-shadow: 0 4px 4px rgb(17 69 77 / 10%);
    transition: 0.2s ease;
    text-align: center;
}
.home{
    grid-template-columns: 1fr;
    width: 50%;
    min-height: 50vh;
}
#lightmode{
    position: absolute;
    top: 1.4rem;
    right: 2rem;
}
.social{
  display: block;
  padding-top: 2rem;
  justify-items: space-between;
}
.home-img{
    display: none;
}
.home-text{
    padding-left: 0.4rem;

}
.home-text h1{
    font-size: 1.5rem;
}
.home-text h2{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(17, 69, 77);
}
.home-text p{
    font-size: 0.941rem;
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
.about-container{
    grid-template-columns: 1fr;
    margin: 1rem;
}
.heading h2{
    font-size: large;
}
.about-img img{
    width: 50%;
    border-radius: 00.5rem;
}
.about-img span{
    display: none;
}
.skills-container{
    grid-template-columns: 1fr;
}
.skills-img img{
    width: 50%;
}
.portfolio-img img{
    padding-left: 2rem;
    width: 50%;
    display: block;
}  
.contact-form form{
    width: 250px;
}
form textarea{
    height: 100px;
}
.contact-button{
    width: 10px auto;
    margin-left: 0%;
}


@media ( max-width: 400px){
    section{
        overflow: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .heading{
        padding-right: 3rem;
    }
    header{
        width: 70%;
        left: 0%;
        padding: 7px 20%;
    }
    .navbar a{
        padding: 5px 10px;
    }
    #menu-icon{
        font-size: 15px;
        padding-right: 1rem;
    }
    .info-box h3{
        font-size: medium;
    }
    .skills-container{
        gap: 1rem;
        margin-top: 2rem;
        padding-left: 2rem;
    }
    .skills-img img{
        padding-left: 1rem;
    
    }
    .bars-box{
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
    }
    .bars-box span{
        padding-right: 16rem;
    }
    .bars-box h3,
    .bars-box span{
        font-size: 0.8rem;
        font-weight: 250;
    }
    .light-bar{
        width: 50% ;
        height: 0.5rem;
        border-radius: 0.5rem;
    }
    .percent-bar {
        height: 0.5rem;
        border-radius: 0.5rem;
    }
    .html-bar{
        width: 47% ;
    }
    .css-bar{
        width: 40%;
    }
    .js-bar{
        width: 42%;
    }
    .react-bar{
        width: 35%;
    } 
    .services-content{
        gap: 1rem;
        margin-top: 1rem;
        padding-right: 3rem;
    }
    .services-box{
        padding: 10px;
        width: 130px;
        border-radius: 0.5rem;
    }
    .contact-form form{
        width: 400px;
        padding-left: 2rem;
    }
    form input,
    form textarea{
        padding: 7px;
        border-radius: 0.5rem;
        width: 50%;
        margin-bottom: 0.5rem;
    }
    form textarea{
        resize: none;
        height: 100px;
    }
    .contact-button{
        margin: 1rem;
        padding: 1rem;
    }
    .footer{
        padding: 10px;
    }
    .footer h2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .footer-social a i{
        font-size: 15px;
        margin-left: 5px;
        line-height: 20px;
        width: 20px;
        height: 20px;
    }
    .copyright{
        padding: 10px;
    }

}