

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

a{
    font-size: 1rem;
    padding: 10px 20px;
    color: rgb(31, 147, 165);
    font-weight: 500;
}

body{
    background: rgb(5, 15, 17);
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-left: 5px;
    margin-right: 5px;
}

.light-mode {
    background-color: #ffe9e9;
    color: rgb(26, 170, 192);
    transition: background-color 2s;
}

body.active{
     color: black;
     background: white;
}

section{
    padding: 50px 10px;
}

span{
    color: rgb(26, 170, 192);
}

*::selection{
    color: rgb(3, 13, 15);
    background: rgb(17, 69, 77);
}
/* navbar */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 7, 8);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: white, rgb(3, 13, 15);
    height: 40px;
}

.logo{
    font-size: 1.61rem;
    font-weight: 600;
    color: white;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
}
.navbar a:hover{
    color: rgb(17, 69, 77);
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img{
    order: 3;
}
.home-img img{
    width: 80%;
}
.home-text h1{
    font-size: 3.2rem;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(17, 69, 77);
}
.home-text p{
    font-size: 0.941rem;
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
.social{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.social a{
    margin-bottom: 1rem;
    font-size: 22px;
    color: rgb(17, 69, 77);
}
.social a:hover{
    color: white;
}
.btn{
    display: inline-block;
    background: rgb(0, 7, 8);
    color: rgb(17, 69, 77);
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
}
.btn:hover{
    background: rgb(17, 69, 77);
    color: rgb(0, 7, 8);;
}

/* about section */

.heading{
    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    justify-items: center;
    width: 100%;
}
.about .h h1{
    margin-bottom: 2rem;
}
.tag{
    background: rgb(55, 124, 134);
    padding: 2rem;
    color: white;
}
.tag:hover{
    color: rgb(8, 36, 36);
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem; 
}
.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem; 
    height: 2rem;
    border-radius: 0.5rem;
}

.info-box{
    align-items: center;
    margin-bottom: 1.4rem;
    text-align: center;
}

/* skills */
.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.skills-img img{
    width: 70%;
    padding-left: 4rem;
    object-position: center;
}
.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bars-box h3,
.bars-box span{
    font-size: 1.1rem;
    font-weight: 500;
}
.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% ;
    height: 0.5rem;
    background:  white;
    border-radius: 0.5rem;
}
.percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: rgb(17, 69, 77);
    border-radius: 0.5rem;
}
.html-bar{
    width: 94% ;
}
.css-bar{
    width: 80%;
}
.js-bar{
    width: 84%;
}
.react-bar{
    width: 70%;
}
.reactnative-bar{
    width: 78%;
}
/* services section */

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.services-box{
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid rgb(17, 69, 77);
    box-shadow: 0 2px 7px white;
}
.services-box i{
    padding-top: 2rem;
    font-size: 54px;
    color: rgb(17, 69, 77);
}
.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}
.services-box a{
    color: rgb(17, 69, 77);
    font-size: 1rem;
    font-weight: 500;
}
.services-box:hover{
    background:  white;
    color: rgb(3, 13, 15);
}

/* portfolio section */
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.portfolio-text{
    padding-top: 1rem ;
}
.portfolio-text h3{
    text-align: center;
    color:rgb(26, 170, 192);
}
.portfolio-text p{
    padding-top: 1rem;
    color: rgb(11, 66, 75);
    text-align: center;
    font-size: 0.9rem;
}
.portfolio-img{
    overflow: hidden;
    border-radius: 0.5rem;
}
.portfolio-img img{
    width: 100%;
    display: block;
}
.portfolio-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}
/* footer */
.footer{
    display: grid;
    place-items: center;
    padding: 20px;
    background:  rgb(0, 10, 12);
    color:rgb(17, 69, 77);
}
.footer h2{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}
.footer-social a i{
    color: rgb(17, 69, 77);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.copyright{
    padding: 20px;
    background: rgb(0, 7, 8);
    text-align: center;
    color: white;
}
.copyright a{
    color: rgb(17, 69, 77);
}
 