

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}


body{
    background: rgb(3, 13, 15);
    color: white;
}

section{
    padding: 50px 10px;
}

span{
    color: rgb(26, 170, 192);
}

*::selection{
    color: burlywood;
    background: coral;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img{
    order: 3;
}
.home-img img{
    width: 80%;
}
.home-text h1{
    font-size: 3.2rem;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(17, 69, 77);
}
.home-text p{
    font-size: 0.941rem;
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
.social{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.social a{
    margin-bottom: 1rem;
    font-size: 22px;
    color: burlywood;
}
.social a:hover{
    color: rgb(17, 69, 77);
}
.btn{
    display: inline-block;
    background: rgb(0, 7, 8);
    color: rgb(17, 69, 77);
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
}

/* about section */

.heading{
    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-img img{
    width: 80%;
    border-radius: 00.5rem;
}
.about-text span{
    font-size: 0.941rem;
    font-weight: 400;
}
.information{
    margin: 1rem 0 1.4rem;
}
.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}
.information .info-box i{
    font-size: 22px;
}
.information .info-box h3{
    font-weight: 400;
    margin-left: 1rem;
}
